<a href="https://colab.research.google.com/github/notinggg/pandas/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
food=['Pizza','Sushi','Burger']
p_food=pd.Series(food)
p_food

0     Pizza
1     Sushi
2    Burger
dtype: object

# **example:**
---
* bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb

*